// 網頁共用元件
body {
    font-family: 'Kalam', cursive;
    font-family: 'Noto Sans TC', sans-serif;
    color: $dark;
}

.bg-image{
    background-image: url(../images/lightpaperfibers.png);
}

// .object-fit-cover{
//     object-fit: cover;
// }